body {
    background-color: #a19c9c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

/* --- NavBar --- */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    padding: 10px 50px;
}

.nav-logo {
    height: 100px;
}

.nav-links {
    display: flex;
    gap: 50px;
    padding: 0;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
}

@media (max-width: 800px) {
    .navbar {
        flex-wrap: wrap;
        padding: 10px 30px;
    }

    .nav-logo {
        height: 80px;
    }

    .nav-links {
        flex-direction: column;
        gap: 20px;
    }
}

/* --- Hero Section --- */
.hero_section h1 {
    text-align: center;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 80px auto 50px auto;
}

.hero_section p {
    text-align: center;
    font-size: 30px;
}


/* form */

form {
    text-align: center;
    display: grid;
    margin: 7% 35% ;
    background-color: #8fb8cf;
    border-radius: 7px;
    padding: 15px 10px 40px;
    border: solid black;
}

input {
    border-radius: 5px;
    text-align: center;
}

input[type="text"] {
    border: solid #1f1841;
}

input[type="text"]:active {
    background-color:  #0e0d13;
    color: white;
}

input[type="email"] {
    border: solid #1f1841;
}

input[type="password"] {
    border: solid r#1f1841;
}



button {
    border-radius: 5px;
    margin: 10px 0px;
    padding: 7px;
}

footer {
    background-color: black;
    margin: 0px 0px -100px;
    padding: 15px 0px 50px;
    color: #ffffff;
    text-align: center;
}


@media (max-width: 768px) {
    /* Navbar */
    body {
        background-color: #a19c9c;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
    }
    
    /* --- NavBar --- */
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    
    .nav-logo {
        height: 50px;
    }
    
    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .nav-links a {
        font-size: 18px;
        padding: 5px 10px;
    }
    
    /* --- Hero Section --- */
    .hero_section h1 {
        text-align: center;
        font-size: 33px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 80px auto 50px auto;
    }
    
    .hero_section p {
        text-align: center;
        font-size: 15px;
        padding: 0px 10px;
        margin: auto auto 50px;
    }
    
    /* form */
    form {
        display: grid;
        text-align: center;
        padding: 0px 20px 40px;
        border: 1.5px solid rgb(0, 0, 0);
        background-color: #81888b;
        color: #ffffff;
        margin: 0px 50px 45px;
    }
    
    input {
        border-radius: 5px;
        text-align: center;
    }

    input:focus {
        outline: 3px solid orange;
        background-color: lightyellow;  
    }

    
}
